#form {
  #add-comment {
    padding: 3rem 0;

    h1 {
      text-align: center;
      margin-top: 0;
    }

    form {
      background-color: $color-pink-light;
      width: 50%;
      border-radius: 1.6rem;
      box-shadow: 0.8rem 0.8rem 0 $color-pink-dark;
      padding: 1.6rem 3rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
